.container{
    display:flex;
    flex-direction: column;
    align-items: center;

}

h1{
    text-align: center;
    font-size: 40px;
    color:darkgreen;
}

h3{
    color:darkgreen;
    margin:10;
}

h4{
    font-size: 25px;
    font-family: 'lucinda';
    margin: 0;
}

a{
    margin: 10px;
    color:black;
    font-size: 20px;
}
